.menuItm {
    font-size: 13px !important;
}
.menuItm:hover {
    background-color: #222222 !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 10px;
}
.menuItmLogot {
    font-size: 13px !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 10px;
}
.menuItmLogot:hover {
    background-color: #911600 !important;
    opacity: 50% !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 10px;
}